{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.10.0"
        }
      }
    ]
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ]
}
