{
  "extends": [
    "eslint-config-airbnb-base"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "max-len": [1, 160],
    "no-console": 0,
    "no-restricted-syntax": 0,
    "no-await-in-loop": 0
  }
}
